<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Add a Book to the Listings</title>
<!--   <meta name="description" content="">
  <meta name="author" content=""> -->
  <link rel="stylesheet" href="../includes/styles/style.css">
</head>
<body>
  <form action="/books" method="post">
		<input name="book[title]" placeholder="title" id="title">
		<input name="book[author]" placeholder="author" id="author">
		<input type="submit" value="Save">
	</form>
</body>
</html>